html{
    scroll-behavior: smooth;
}

.D-picture {
    transition: 1s ease-in-out;
}
.card-deck{
    height: 25vh;
}
.card-deck:hover .D-picture {
    background: black !important;
}
.card-deck .D-picture i {
    display: none;
}
.card-deck .D-picture:hover i {
    display: block;
}

.btn_send_message:hover{
    background-color: rgb(255, 191, 0);
    color: black;
}
.content {
    display: flex;
    flex-direction: row;
}
