.D-picture2 {
    display: none;
    transition: 1s;
}
.card-deck:hover .D-picture1 {
    display: none;
}
.card-deck:hover .D-picture2 {
    display: block;
}
.content {
    display: flex;
    flex-direction: row;
}
